@import "./minireset.css";
@import "./fonts.css";
@import "./forms.css";

:root {
  --font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  --primary-color: #3e8ed0;
  --error-color: #e53e3e;
  --max-width-large: 1024px;
}

body {
  font-family: var(--font-family);
  background: var(--background);
  color: #ffffff;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 4rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.7em;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1em;
}

button {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 0.5rem;
  border: solid 1px transparent;
  color: #ffffff;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #1a55d6;
  }
}

svg.icon {
  fill: #ffffff;
  padding: 0 5px;
}

.prominent-box {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ffffff;
  color: black;
  padding: 30px 20px;
  width: 60%;
  margin: 0 auto;

  h1 {
    margin-bottom: 10px;
  }

  a {
    color: var(--primary-color);

    &:hover {
      text-decoration: underline;
    }
  }
}

img {
  align-self: center;
}
